@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Squada One", sans-serif;
    font-style: normal;
}

nav {
    background-color: #FFFFFF;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    display: flex;
    width: 100%;
    text-decoration: none;
    list-style-type: none;
}

nav li {
    margin-left: 20px;
    font-size: 20px;
    
}