@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Squada One", sans-serif;
    font-style: normal;
}

nav {
    background-color: #FFFFFF;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 1000;
}

body {
    padding-top: 70px;
}

body::-webkit-scrollbar {
    display: none;
}

nav img {
    cursor: pointer;
    user-select: none;
}

nav button a {
    text-decoration: none;
    color: #000;
}

nav button {
    margin-left: 40px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    user-select: none;
}

.main_section {
    background-color: #EFEFEF;
    height: auto;
    width: 100%;
    position: relative;
    z-index: 1;
    padding-top: 65px; 
}

.Quick_links {
    display: flex;
    width: 400px;
    font-weight: 100;
}

nav .log_in {
    background-color: blue;
    color: #FFFFFF;
    border-radius: 100px;
    cursor: pointer;
    padding: 15px 20px;
    width: 123px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    user-select: none;
}

#Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-bottom: 150px;
}

#Home h1 {
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: 100;
}

#Home p {
    font-size: 15px;
    margin-bottom: 40px;
    width: 411px;
}

#Home .Sign_up {
    background-color: blue;
    color: #FFFFFF;
    border-radius: 100px;
    cursor: pointer;
    padding: 15px 20px;
    width: 169px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    user-select: none;
}

#Home .herosection_cards .card {
    width: 300px;
    height: 376px;
    background-color: #FFFFFF;
    border-radius: 40px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#Home .herosection_cards {
    display: flex;
    gap: 59px;
    overflow-x: auto;
    user-select: none;
}

#Home .herosection_cards .flashcard h1 {
    color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 10px;
    padding: 30px 10px 10px 10px;
    font-size: 30px;
}

#Home .herosection_cards::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1398px) {

    .herosection_cards {
        width: 100%;
        overflow-x: auto;
    }

    #Home .herosection_cards {
        display: flex;
        overflow-x: auto;
    }

    #Home .herosection_cards .card {
        flex: 0 0 300px;
    }

    #Home .herosection_cards::-webkit-scrollbar {
        display: none;
    }
}

#Home .herosection_cards .flashcard {
    background-color: #423FD8;
    position: relative;
}

#Home .herosection_cards .do_you_know_me_card {
    background-color: #FFC38C;
    position: relative;

}

#Home .herosection_cards .make_gk_content_card {
    background-color: #98E3FF;
    position: relative;
}

#Home .herosection_cards .memory_card {
    background-color: #FFDC62;
    position: relative;
}

#Home .flashcard .page2 {
    width: 218px;
    height: 122px;
    background-color: #ffffff;
    border-radius: 15px;
    transform: rotate(-15deg);
    position: absolute;
    top: 111px;
    left: 27px;
    box-shadow: 5px 5px 10px rgb(167, 167, 167);
    color: #6D6D6D;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Home .flashcard .page2 p {
    font-size: 26px;
    text-align: center;
    width: 166px;
    padding-top: 40px;
}

#Home .flashcard .page1 {
    width: 218px;
    height: 122px;
    background-color: #ffffff;
    border-radius: 15px;
    position: absolute;
    top: 148px;
    left: 40px;
}

#Home .herosection_cards .do_you_know_me_card h1,
#Home .herosection_cards .make_gk_content_card h1,
#Home .herosection_cards .memory_card h1 {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 30px 10px 10px 10px;
    font-size: 30px;
}

#Home .herosection_cards .do_you_know_me_card .page1 {
    width: 260px;
    height: 272px;
    background-color: #ffffff;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 40px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.do_you_know_me_card .head {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 20px;
    font-size: 20px;
    color: #808080;
}

.do_you_know_me_card .head_no {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 20px;
    font-size: 26px;
}

.do_you_know_me_card .question_box {
    display: flex;
    padding: 20px 0px 20px 5px;
    width: 100%;
}

.do_you_know_me_card .question {
    width: 226px;
    height: 10px;
    background-color: #EFEFEF;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    margin-left: 30px;
    margin-top: 4px;
}

.do_you_know_me_card .options_box {
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-left: 50px;
    margin-top: 10px;
}

.do_you_know_me_card .options_box button {
    border: none;
    outline: none;
    background-color: transparent;
}

.do_you_know_me_card .options_box .option {
    display: flex;
    width: 100%;
}

.do_you_know_me_card .options_box .option img {
    display: flex;
}

.do_you_know_me_card .option_txt1 {
    margin-left: 10px;
    margin-top: 4px;
    background-color: #BF0606;
    height: 10px;
    width: 65px;
    border-radius: 16px;
    border: 1px solid #BF0606;
}

.do_you_know_me_card .option_txt2 {
    margin-left: 10px;
    margin-top: 4px;
    border-radius: 16px;
    width: 92px;
    height: 10px;
    background-color: #EFEFEF;
}

.do_you_know_me_card .option_txt3 {
    margin-left: 10px;
    margin-top: 4px;
    background-color: #008000;
    border-radius: 16px;
    width: 111px;
    height: 10px;
}

.do_you_know_me_card .option_txt4 {
    margin-left: 10px;
    margin-top: 4px;
    border-radius: 16px;
    width: 135px;
    height: 10px;
    background-color: #EFEFEF;
}

.do_you_know_me_card .option_no1,
.do_you_know_me_card .option_no2,
.do_you_know_me_card .option_no3,
.do_you_know_me_card .option_no4 {
    margin-left: 10px;
}

.do_you_know_me_card .option_no1 {
    color: #BF0606;
}


.do_you_know_me_card .option_no3 {
    color: #008000;
}

.make_gk_content_card .page1 {
    width: 225px;
    height: 272px;
    background-color: #ffffff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    left: 35px;
    bottom: 0px;
}

.make_gk_content_card .page1 .logo img {
    width: 175px;
    height: 150px;
    margin-top: -35px;
    margin-left: 20px;
}

.make_gk_content_card .chat_box {
    width: 193px;
    height: 100px;
    background-color: #EFEFEF;
    border-radius: 10px;
    display: flex;
    font-size: 20px;
    margin-top: -40px;
    margin-left: 15px;
}

.make_gk_content_card .chat_box h2 {
    margin-left: -140px;
    margin-top: 10px;
    font-size: 23px;
    font-weight: 100;
}

.make_gk_content_card .chat_box .limitation_no {
    margin-left: -20px;
    margin-top: 108px;
    font-size: 18px;
    color: #DDDADA;
}

.make_gk_content_card .chat_box .send_button {
    background-color: #0000FF;
    color: #FFFFFF;
    cursor: pointer;
    padding: 13px 30px;
    width: 91px;
    height: 45px;
    font-size: 18px;
    margin-left: -85px;
    margin-top: 134px;
    border-radius: 100px;
}

.memory_card .page2 h3,
.memory_card .page1 h3 {
    font-size: 20px;
    font-weight: 200;
    margin-top: 9px;
    margin-left: 34px;
    margin-bottom: 5px;
}

.memory_card .page2 {
    width: 183.49px;
    height: 184.88px;
    border-radius: 15px;
    background-color: #FFFFFF;
    transform: rotate(-15deg);
    position: absolute;
    top: 80px;
    left: 26px;
    box-shadow: 5px 5px 10px rgb(167, 167, 167);
}

.memory_card .page1 {
    width: 183.49px;
    height: 184.88px;
    border-radius: 15px;
    background-color: #FFFFFF;
    transform: rotate(15deg);
    position: absolute;
    top: 146px;
    left: 80px;
    box-shadow: 5px 5px 10px rgb(167, 167, 167);
}

.memory_card .page2 p {
    font-size: 11px;
    text-align: center;
    width: 110.77px;
    height: 26.32px;
    color: #575757;
    margin-top: 12px;
    margin-left: 14px;
}

.memory_card .page2 .q {
    display: flex;
}

.memory_card .page2 .q_ans {
    width: 166px;
    height: 33px;
    background-color: #D3FFC5;
    border-top-left-radius: 10px;
    margin-left: 7px;
    margin-top: -7px;
    border-bottom: 1px solid #00A000;
    padding: 9px;
    color: #00A000;
}

.memory_card .page2 .submit {
    background-color: blue;
    width: 65px;
    height: 22px;
    border-radius: 5px;
    margin-top: 9px;
    margin-left: 105px;
}

.memory_card .page2 .submit img {
    margin-top: -3px;
    margin-left: 18px;
}

.memory_card .page1 .space img {
    margin-left: 108px;
    transform: rotate(79deg);
    margin-top: 10px;
}

.options .option1 {
    width: 68.94px;
    height: 26.84px;
    background-color: #FFC1AB;
    border: 1px solid #FF0000;
    border-radius: 5px;
    margin-top: -10px;
    margin-left: 20px;
    color: #FF0000;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options .option2 {
    width: 68.94px;
    height: 26.84px;
    background-color: #ffffff;
    border: 1px solid #E7E7E7;
    border-radius: 5px;
    margin-top: -10px;
    margin-left: 10px;
    color: #E7E7E7;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options .option3 {
    width: 68.94px;
    height: 26.84px;
    background-color: #FFFFFF;
    border: 1px solid #FFE7E7E7;
    border-radius: 5px;
    margin-left: 20px;
    color: #E7E7E7;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options .option4 {
    width: 68.94px;
    height: 26.84px;
    background-color: #D3FFC5;
    border: 1px solid #00E400;
    border-radius: 5px;
    margin-left: 10px;
    color: #314C1C;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options .row1,
.options .row2 {
    display: flex;
    margin-top: 10px;
}

.Learn_language_with_Fun {
    display: flex;
}

.Learn_language_with_Fun .description {
    width: 50%;
    padding: 20px;
}

.Learn_language_with_Fun .img {
    width: 50%;
}

.Learn_language_with_Fun .img .page {
    width: 659px;
    height: 400px;
}